body {
  max-width: 1200px;
  font-family: "Trebuchet MS", sans-serif;
  margin: 0 auto !important;
  text-align: center;
}

h1 {
  font-size: 36px;
}

#HTP {
  font-size: 14px;
  line-height: 1.5em;
  padding-bottom: 5px;
}

input[type="text"],
select,
textarea {
  width: 20%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
}

input[type="number"],
select,
textarea {
  width: 20%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
}

button {
  padding: 10px 25px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  background-color: rgb(7, 116, 13);
  color: white;
}

button:hover {
  background-color: rgb(25, 161, 36);
}

.idboxes {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#alerts {
  font-size: 14px;
  color: red;
}

.playerhalves {
  display: inline-block;
  width: 550px;
  height: 100px;
  padding: 15px;
  margin-top: 20px;
}

#leaderboard {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

#leaderboardScores {
  list-style-type: none;
}
