body {
    font-family: sans-serif;
    margin: 0 auto;
    color: white;
    max-width: 700px;
    background-color: white;
    box-shadow: 0px 0px 10px #111111;
}

.main {
    background-color: black;
    display: inline-block;
    height: 300px;
    padding: 10px;
}

#nav {
    float: right;
}

.maintext {
    padding: 0px 50px 0px 50px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

.form-container {
    font-size: 12px;
    height: 370px;
    letter-spacing: 0,05em;
    background-color: rgb(23, 60, 5);
    padding: 10px 30px 50px 60px;
}

.fcol1 {
    float: left;
    width: 50%;
}

label {
    font-weight: bold;
}

.fcol2 {
    float: right;
    width: 50%;
}

input[type=text], select {
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
}

textarea {
    padding: 4px;
    margin: 5px 0px 10px 0px;
    border: 1px solid white;
    border-radius: 4px;
    width: 90%;
}

#button {
    border: none;
    float: right;
    border-radius: 4px;
    padding: 10px 25px;
    font-weight: bold;
    margin-right: 20px;
}